.skeleton {
  background: linear-gradient(
    90deg,
    var(--skeleton-white),
    var(--skeleton-shine),
    var(--skeleton-white)
  );
  background-size: 200%;
  animation: loader 1.2s infinite alternate;
}
/* skeleton animation */
@keyframes loader {
  from {
    background-position: -100% 0;
    transform: scale(1.02);
  }
  to {
    background-position: 100% 0;
    transform: scale(1);
  }
}
