.range-slider {
  &-input {
    appearance: none;
    height: 10px;
    outline: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      background: radial-gradient(circle, var(--theme) 40%, var(--white) 40%);
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      border-radius: 60px;
      box-shadow: 0px 2px 25px var(--shadow-color);
    }
  }
}
