.otp-modal {
  input {
    width: 12%;
    padding: 5px;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid var(--theme);
    text-align: center;
    margin: 0 5px;
  }
  button {
    transition: all 0.5s ease-in-out;
    &.resend {
      opacity: 1 !important;
    }
  }
}
