@font-face {
  font-family: "light-font";
  src: url(./assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "regular-font";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "medium-font";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "bold-font";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "extra-bold-font";
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

/* Dark Theme Shortcut*/
/* html {
  filter: invert(1);
} */

body {
  margin: 0;
  font-family: "regular-font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease;
  background: var(--white);
  color: var(--black);
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*:not(input, textarea) {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* Disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app ::selection {
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: initial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app,
.router {
  height: 100%;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
  background: var(--white);
  overflow-x: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  html,
  body {
    font-size: 1.125rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  html,
  body {
    font-size: 1.125rem;
  }
}

/* Extra small devices (phones, 320px and down) IPhone 5/SE */
@media only screen and (max-width: 320px) {

  html,
  body {
    font-size: 0.75rem;
  }
}


body>iframe {
  display: none;
}